* {
    border: 2px solid rgb(97, 170, 136);
}

div {
    height: 120px;
    width: 120px;
    background-color: rgb(0, 162, 255);
    color: #fff;
}

#one {
    position: relative;
    top: 25px;
    left: 25px;
    /* formatting */
    background-color: rgb(64, 52, 133);
}