body{ font-family: sans-serif;
}
p.p1 {
    text-transform: uppercase;
    font-style: italic;
  }
div{font-family: serif;}
p{font-family: 'Roboto', sans-serif;}
p.normal {
    font-weight: normal;
  }
  
  p.thick {
    font-weight: bolder;
  }
  
  p.thicker {
    font-weight: 1000px;
  }
p.p2 {letter-spacing: 8px;}
h1 {
    text-shadow: 2px 2px #90c749;
  }
a, u {
    text-decoration: none;
  }
a:hover {
    text-decoration: underline;
  }
p.p3 {text-decoration: line-through;}
div.a {
    text-indent: 50px;
  }