html {
    border: 2px solid rgb(71, 107, 92);
}

body {
    width: 40%;
    border: 2px solid rgb(41, 46, 41);
    /*position: relative;*/
}

div {
    border: 2px solid rgb(165, 102, 141);
    color: #fff;
}

#one {
    /* comment out position: relative */
    /* absolute is positioned off html element */
    position: relative;
    top: 150px;
    /* formatting */
    width: 600px;
    height: 400px;
    background-color: #3f3e3e;
}

#two {
    position: absolute;
    top: 170px;
    /*bottom: -210px;*/
    right: 20px;
    /* formatting */
    width: 300px;
    height: 200px;
    background-color: rgb(95, 123, 160);
}